.finder-outer-body {
    animation: floating 3.0s linear infinite, body-shrink 4.0s linear infinite;
    background-color: #000000;
    border-radius: 42%;
    height: 15em;
    margin: auto;
    width: 15em;
}

@keyframes floating {
    0%, 100% { transform: translate(0%   , 10%); } 
    12%      { transform: translate(2%   , 11%); }
    25%      { transform: translate(3%   , 13%); }
    32%      { transform: translate(2%   , 14%); }
    50%      { transform: translate(0%   , 16%); }
    62%      { transform: translate(-2%  , 15%); }
    75%      { transform: translate(-3%  , 13%); }
    87%      { transform: translate(-1%  , 11%); } 
}

@keyframes body-shrink {
    0%, 100% { border-radius: 44%; height: 15em;   }
    25%      { border-radius: 45%; height: 14.8em; }
    50%      { border-radius: 44%; height: 15em;   }
    75%      { border-radius: 43%; height: 15.2em; }
}

.eye-socket {
    border-radius: 100%;
    height: 3em;
    transform: rotate(180deg);
    width: 1em;
}

.left.eye-socket {
    float: left;
    margin-left: 5.5em;
    margin-top: 1.7em;
}

.right.eye-socket {
    float: right;
    margin-right: 5.5em;
    margin-top: 1.7em;
}

.eye {
    animation: eye-blink 10.0s linear infinite;
    background-color: #ffffff;
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

@keyframes eye-blink {
    38.8%, 40.2%, 63.8%, 64.2%, 67.8%, 68.2% { height: 100%; }
    39%,          64%,          68%          { height: 3%;   }
}

.finder-inner-body {
    animation: torch 3.0s linear infinite;
    border-radius: 100%;
    height: 6em;
    margin: auto;
    transform: translate(0, 100%);
    width: 6em;
}

@keyframes torch {
    0%  , 100% { background: radial-gradient(#ffffff, #000000 70%); }
    6%  , 93%  { background: radial-gradient(#ffffff, #000000 69%); }
    12% , 87%  { background: radial-gradient(#ffffff, #000000 67%); }
    25% , 75%  { background: radial-gradient(#ffffff, #000000 65%); }
    37% , 63%  { background: radial-gradient(#ffffff, #000000 63%); }
    43% , 56%  { background: radial-gradient(#ffffff, #000000 61%); }
    50%        { background: radial-gradient(#ffffff, #000000 60%); }
}

.color-pick-container {
    display: flex;
    height: 2.1em;
    margin: auto;
    transform: translate(0, -125%);
    width: 2.13em;
}

.color-picker-wrapper-left-decoration {
    animation: rainbow-background 8.0s linear infinite;
    height: 2.3em;
    width: 0.22em;
}

.color-picker-wrapper {
    animation: rainbow-background 8.0s linear infinite;
    height: 2em;
    width: 1.9em;
}

.color-picker-wrapper::after {
    animation: rainbow-background 8.0s linear infinite;
    content: "";
    display: block;
    height: 0.3em;
    width: 1.9em;
}

@keyframes rainbow-background {
    100%, 0% { background-color: rgb(255 , 0   , 0   ); }
    8%       { background-color: rgb(255 , 127 , 0   ); }
    16%      { background-color: rgb(255 , 255 , 0   ); }
    25%      { background-color: rgb(127 , 255 , 0   ); }
    33%      { background-color: rgb(0   , 255 , 0   ); }
    41%      { background-color: rgb(0   , 255 , 127 ); }
    50%      { background-color: rgb(0   , 255 , 255 ); }
    58%      { background-color: rgb(0   , 127 , 255 ); }
    66%      { background-color: rgb(0   , 0   , 255 ); }
    75%      { background-color: rgb(127 , 0   , 255 ); }
    83%      { background-color: rgb(255 , 0   , 255 ); }
    91%      { background-color: rgb(255 , 0   , 127 ); }
}

.spike {
    animation: spike-shrink 3.0s linear infinite;
    border-left: 1em solid transparent; 
    border-right: 1em solid transparent;
    height: 2em;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 1em;
}

@keyframes spike-shrink {
    0%, 100% { border-bottom: 3.8em solid #000000; }
    50%      { border-bottom: 4.2em solid #000000; }
}

.top-left.spike {
    transform: rotate(315deg) translate(0%, -220%);
}

.left.spike {
    transform: rotate(270deg) translate(0%, -220%);
}

.bottom-left.spike {
    transform: rotate(225deg) translate(0%, -220%);
}

.top-right.spike {
    transform: rotate(45deg) translate(0%, -220%);
}

.right.spike {
    transform: rotate(90deg) translate(0%, -220%);
}

.bottom-right.spike {
    transform: rotate(135deg) translate(0%, -220%);
}

.result-board-wrapper {
    margin-top: 3em;
}