* {
    box-sizing: border-box;
    font-family: 'Palette Mosaic', cursive;
}

body {
    background-color: #000000;
    margin: 1em 2em;
    width: 60em;
}

header {
    background-color: #000000;
    color: #ffffff;
}

main {
    background-color: #ffffff;
}

.boundary {
    background-color: #ffffff;
    height: 1em;
}

.top.boundary {
    transform: rotate(180deg) translate(0, -1em);
}