.result-board-wrapper {
    margin-top: 3.5em;
}

.result-board {
    left: 0;
    margin: auto;
    right: 0;
    width: 40em;
}

.body.result-board {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.body.result-board p {
    font-family: 'Palette Mosaic', cursive;
}

.body.result-board button {
    left: 0;
    line-height: 0.5em;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    right: 0;
    width: 10em;
}

.body.result-board table {
    border-collapse: collapse;
    font-size: 0.8em;
    left: 0;
    margin: 1em auto 0 auto;
    right: 0;
}

.body.result-board table th {
    background: #ffffff;
    color: #000000;
}

.body.result-board table th,
.body.result-board table td {
    border: solid 1px #ffffff;
    padding: 0.2em 0.5em;
}

.body.result-board table tr td:nth-child(2),
.body.result-board table tr td:nth-child(3),
.body.result-board table tr td:nth-child(4),
.body.result-board table tr td:nth-child(5) {
    text-align: left;
}

.body.result-board table tr td:nth-child(6),
.body.result-board table tr td:nth-child(7) {
    text-align: center;
}

.boundary.result-board {
    height: 1em;
}

.top.boundary.result-board {
    transform: rotate(0deg);
}

.bottom.boundary.result-board {
    transform: rotate(180deg) translate(0, 0);
}